@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/ResponsiblePersonLayout.cshtml";

if (Session["userID"] == null)
{
    Response.Redirect("~/Login/Index");
}

}
@using IssueManagementSystem.Models;

<div class="page-content--bgf7" >
    <div >
        <!-- BREADCRUMB-->
        <section class="au-breadcrumb2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Responsible person</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Dashboard</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            Hi
                            <span>@Session["name"], You have <span id="issueCnt"></span> new job<span id="span_x"></span></span>
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>
        <section class="welcome p-t-10" style="padding-top:50px;padding-bottom:50px">
            <div class="container-fluid">


                <div class="row" id="divIssue" style="margin: auto;">


                </div>

            </div>
        </section>
        <div class="modal fade" id="moreIssueInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="exampleModalLongTitle" style="color:#ff9800;margin-left:40%">New Issue</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div class="row">
                            <div class="col" id="issueData">
                            </div>
                        </div>
                        <div class="row" id="text">
                            <div class="col">
                                <div class="form-group" >
                                    <h4 class="text-center" style="color:#ff9800;margin-top:20px" id="hedding">If you complete the job send feedback to us</h4>

                                    <label style="margin-top:15px;color:#4CAF50; " for="comment"><strong>Your Comment:</strong></label>
                                    
                                    <p style="color:red;display:none" id="waring"><small>*Plese put your comment here</small> </p>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="savecomment">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/signalr/Hubs"></script>

 

    <script>
    $(document).ready(function () {
  
        // Proxy created on the fly
        var hub = $.connection.issueHub;
       
        var issueCount = 0;

        (issueCount != 1) ? ($('#span_x').text("s!")) : ($('#span_x').text("!"));

     
     
      window.getDataissue = function()
        {
            var divissue = $('#divIssue');
              var url = '@Url.Action("GetIssues", "ResponsiblePerson")'
            $.ajax({
                url: url,
                    type: 'GET',
                    datatype: 'json',
                    success: function (issuedata) {
                 
                    issuedata = $.parseJSON(issuedata);
                        if (issuedata.length > 0) {
                           
                        divissue.empty();
                       $('#issueCnt').text("0");
                        for (var i = 0; i < issuedata.length; i++) {
                          
                            if ((issuedata[i].department =='@Session["department"]') && (issuedata[i].issue_satus=="1" || issuedata[i].responsible_person_confirm_status==1)&&('@Session["location"]'==issuedata[i].location)) {
                                
                                var line_id = issuedata[i].line_line_id;
                                var issueid = issuedata[i].issue_issue_ID;
                                var bell_ststus =issuedata[i].buzzer_off_by;
                                var comment=null
                                var issueStstus = 2;//issue not solved and not comment
                                if (issuedata[i].responsible_person_confirm_status == 0 && issuedata[i].issue_satus == "1")
                                {
                                    issueStstus = 1;// if issue is not solved but commented
                                    comment = issuedata[i].responsible_person_confirm_feedback;
                                }

                                if (issuedata[i].responsible_person_confirm_status == 1 && issuedata[i].issue_satus == "0")
                                {
                                    issueStstus = 0;//issue is solved bt not commented
                                }
                                var index = i;

                            
                                get_line(line_id, issueid, divissue, issuedata[i], issueStstus, comment, index, issuedata[i].matirial,bell_ststus)

                            }
                        }
                    }
                }, error: function (r, e, w) {
                }
            });

            (issueCount != 1) ? ($('#span_x').text("s!")) : ($('#span_x').text("!"));
        }

   // Declare a function on the hub hub so the server can invoke it
        hub.client.displayStatus = function () {
           
           getDataissue();
        };
    
        // Start the connection
        $.connection.hub.start();
        getDataissue();

        function get_line(line_id, issueid, divissue, issuedata, issueStstus, comment, index, matirial,bell_ststus) {
            issueCount = 0;
            var line = new Object();
            var url = '@Url.Action("getlineInfo", "ResponsiblePerson")';
            $.ajax({
                type: "POST",
                url: url,
                data: { list_id: line_id},
                success: function (response) {
                    if (response != null) {

                        var lineName = response.line_name.toString();;
                        if (issueid == 1) { mb(lineName, divissue, issuedata, issueStstus, comment, index,bell_ststus)}
                        else if (issueid == 2) { md(lineName, divissue, issuedata, issueStstus, comment, index, matirial,bell_ststus)}
                        else if (issueid == 3) { ti(lineName, divissue, issuedata, issueStstus, comment, index)}
                        else if (issueid == 4) { qi(lineName, divissue, issuedata, issueStstus, comment, index)}
                        else if (issueid == 5) { it(lineName, divissue, issuedata, issueStstus, comment, index) }

                        (issueCount != 1) ? ($('#span_x').text("s!")) : ($('#span_x').text("!"));

                    } else {
                        alert("Something went wrong");
                    }
                    
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function it(lineName, divissue, issuedata, issueStstus, comment, index) {
            var date = issuedata.issueDate.split(' ');
            var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
            var msg = 'In <strong> ' + lineName + '</strong> Line new IT / Software Issue has been occured at <strong> ' + day + '</strong > on ' + date[1] + '.</br> Responsible Person - <strong>'+issuedata.responciblepersonName+'</strong>';

            var issue = '<div class="col-md-6 col-lg-3" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--blue"><span class="desc" style="color:white">IT/Software Issue</span><div class="icon" ><i class="zmdi zmdi-windows"></i></div></div><div class="card-body"><h5 class="card-title" id="' + index+'"></h5><p class="card-text">' + msg + '</p> <div class="text-right"> <button style="color:#1183ff" class="card-link" data-toggle="modal" data-target="#moreIssueInfo" data-msg="' + msg + '" data-issueinfo="' + issuedata.issue_occurrence_id + '" data-dis="' + issuedata.description + '" data-ststus="' + issueStstus + '" data-comment="' + comment +'" onclick="myfunction(this)">Show More >></button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
            issueCount++

                divissue.append(issue)
                divissue.show('slow');

            $('#issueCnt').text(""+issueCount.toString());
            if (issueStstus == 1) { $('#' + index).text("commented") }
            if (issueStstus == 2) { $('#' + index) }
            if (issueStstus == 0) { $('#' + index).text("Issue Solved")}
        }
        function mb(lineName, divissue, issuedata, issueStstus, comment, index,bell_ststus) {
            var date = issuedata.issueDate.split(' ');
            var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
            var msg = 'In <strong> ' + lineName + ' Line </strong> new Machine Brakedown has been occured on <strong> ' + issuedata.machine_machine_id + '</strong > at <strong >' + day + '</strong > on ' + date[1] + '.</br> Responsible Person - <strong>'+issuedata.responciblepersonName+'</strong>'
            var issue = '<div class="col-md-6 col-lg-3" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--red"><span class="desc" style="color:white">Machine Brakedown</span><div class="icon" ><i class="zmdi zmdi-settings zmdi-hc-spin"></i></div></div><div class="card-body"><h5 class="card-title" id="' + index +'"></h5><p class="card-text">' + msg + '</p><div class="text-right" style="margin-top:10%"><button id="' + issuedata.issue_occurrence_id +'bell" data-issue_id="' + issuedata.issue_occurrence_id +'"data-location="'+issuedata.location+'" onclick="buzzeroffmain(this)" style="margin-right:53%" ><i style="font-size: 25px;color:red" class="zmdi zmdi-notifications-active animated infinite wobble zmdi-hc-fw mdc-text-blue"></i> </button> <button style="color:#1183ff" class="card-link" data-toggle="modal" data-target="#moreIssueInfo" data-msg="' + msg + '" data-issueinfo="' + issuedata.issue_occurrence_id + '" data-dis="' + issuedata.description + '" data-ststus="' + issueStstus + '" data-comment="' + comment +'" onclick="myfunction(this)">Show More >></button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
            issueCount++

                divissue.append(issue)
                divissue.show('slow');

            $('#issueCnt').text("" +issueCount.toString());
            if (issueStstus == 1) { $('#' + index).text("commented")}
            if (issueStstus == 2) { $('#' + index) }
            if (issueStstus == 0) { $('#' + index).text("Issue Solved") }
            if(bell_ststus!=0) {  document.getElementById(issuedata.issue_occurrence_id +'bell').style.display = "none" }
        }
        function ti(lineName, divissue, issuedata, issueStstus, comment, index) {
            var date = issuedata.issueDate.split(' ');
            var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
            var msg = 'In <strong>' + lineName + '</strong> Line new Technical Issue has been occured. At <strong> ' + day + '</strong> on ' + date[1] +'.</br> Responsible Person - <strong>'+issuedata.responciblepersonName+'</strong>'
            var issue = '<div class="col-md-6 col-lg-3" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--green"><span class="desc" style="color:white">Technical Issue</span><div class="icon" ><i class="fas fa-wrench"></i></div></div><div class="card-body"><h5 class="card-title" id="' + index +'"></h5><p class="card-text">' + msg + '</p> <div class="text-right"> <button style="color:#1183ff" class="card-link" data-toggle="modal" data-target="#moreIssueInfo" data-msg="' + msg + '" data-issueinfo="' + issuedata.issue_occurrence_id + '" data-dis="' + issuedata.description + '"  data-ststus="' + issueStstus + '" data-comment="' + comment +'" onclick="myfunction(this)">Show More >></button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
            issueCount++

                divissue.append(issue)
                divissue.show('slow');

            $('#issueCnt').text("" +issueCount.toString());
            if (issueStstus == 1) { $('#' + index).text("commented") }
            if (issueStstus == 2) { $('#' + index) }
            if (issueStstus == 0) { $('#' + index).text("Issue Solved") }
        }
        function md(lineName, divissue, issuedata, issueStstus, comment, index, matirial,bell_ststus) {
            var date = issuedata.issueDate.split(' ');
            var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
            var msg = 'In <strong> ' + lineName + ' Line</strong> new Material Delay has been occured . At <strong> ' + day + '</strong> on ' + date[1] + '.</br> Responsible Person - <strong>'+issuedata.responciblepersonName+'</strong> .</br> <strong>Material : </strong>' + matirial +'.'
            var issue = '<div class="col-md-6 col-lg-3" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--orange"><span class="desc" style="color:white">Material Delay</span><div class="icon" ><i class="zmdi infinite wobble zmdi-shopping-cart"></i></div></div><div class="card-body"><h5 class="card-title" id="' + index +'"></h5><p class="card-text">' + msg + '</p> <div class="text-right" style="margin-top:10%"><button id="' + issuedata.issue_occurrence_id +'bell" data-issue_id="' + issuedata.issue_occurrence_id +'"data-location="'+issuedata.location+'" onclick="buzzeroff(this)" style="margin-right:53%" ><i style="font-size: 25px;color:red" class="zmdi zmdi-notifications-active animated infinite wobble zmdi-hc-fw mdc-text-blue"></i> </button><button style="color:#1183ff" class="card-link" data-toggle="modal" data-target="#moreIssueInfo" data-msg="' + msg + '" data-issueinfo="' + issuedata.issue_occurrence_id + '" data-dis="' + issuedata.description + '"  data-ststus="' + issueStstus + '" data-comment="' + comment +'" onclick="myfunction(this)">Show More >></button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
            issueCount++

                divissue.append(issue)
                divissue.show('slow');

            $('#issueCnt').text("" +issueCount.toString());
            if (issueStstus == 1) { $('#' + index).text("commented")}
            if (issueStstus == 2) { $('#' + index)}
            if (issueStstus == 0) { $('#' + index).text("Issue Solved") }
            if(bell_ststus!=0) {  document.getElementById(issuedata.issue_occurrence_id +'bell').style.display = "none" }
        }
        function qi(lineName, divissue, issuedata, issueStstus, comment, index) {
            var date = issuedata.issueDate.split(' ');
            var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
            var msg = 'In <strong>' + lineName + '</strong> Line Quality Issue has been occured at <strong> ' + day + ' </strong> on ' + date[1] + '.</br> Responsible Person - <strong>'+issuedata.responciblepersonName+'</strong>'
            var issue = '<div class="col-md-6 col-lg-3" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--blue"><span class="desc" style="color:white">Qulity Issue</span><div class="icon" ><i class="zmdi zmdi-brightness-auto"></i></div></div><div class="card-body"><h5 class="card-title" id="' + index +'"></h5><p class="card-text"> ' + msg + '</p><div class="text-right"> <button style="color:#1183ff" class="card-link" data-toggle="modal" data-target="#moreIssueInfo" data-msg="' + msg + '" data-issueinfo="' + issuedata.issue_occurrence_id + '" data-dis="' + issuedata.description + '"  data-ststus="' + issueStstus + '" data-comment="' +comment+'" onclick="myfunction(this)">Show More >></button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
            issueCount++

                divissue.append(issue)
                divissue.show('slow');

            $('#issueCnt').text("" +issueCount.toString());
            if (issueStstus == 1) { $('#' + index).text("commented")}
            if (issueStstus == 2) { $('#' + index)}
            if (issueStstus == 0) { $('#' + index).text("Issue Solved")}
        }


    })
        function myfunction(param) {
            $("#issueData").empty();
            $("#text").show();
            var text = $("#comment")
            $("#hedding").show()
            text.val("")
            var msg = $(param).data('msg');
            var id = $(param).data('issueinfo');
            var dis = $(param).data('dis');
            var ststus = $(param).data('ststus')

            if (ststus == 1) { text.prop('disabled', true); $("#savecomment").prop('disabled', true); text.val($(param).data('comment')); $("#hedding").hide() }
            else if (ststus == 0) { text.prop('disabled', false); $("#savecomment").prop('disabled', false);}
            else if (ststus == 2) { text.prop('disabled', false); $("#savecomment").prop('disabled', false);}
            var issueInfo = '<p hidden id="id">'+id+'</p><p style="color:#4CAF50"><strong>Message : </strong></p><p>' + msg + '</p></br><p style="color:#4CAF50"><strong>supervisor Note : </strong></p><p class="mb-0">' + dis+' </p>'
            $('#issueData').append(issueInfo) 
            $("#savecomment").show();
        }
     

        $("#savecomment").click(function () {
            
            if ($('#comment').val() == '') {
                $('#comment').css('border-color', 'red');
               
                $("#waring").show();
            }
            else {
                var data = {};
                data.id = $("#id").text().trim();
               
                var url = '@Url.Action("savecomment", "ResponsiblePerson")';
                var id = data.id;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { id: id, comment: $('#comment').val(),emp_id:@Session["userID"]}
                   
                }).done(function (response) {
                    var body = $("#issueData")
                    $("#text").hide();
                    body.empty();
                    if (response == 1) {
                        body.append('<P style="color:red" class="text-center">Your comment is saved. Waiting for the production line supervisors confirmation.</br>Thank You.</p>');
                        $("#savecomment").hide();
                         getDataissue()
                           $.connection.hub.start()//Refresh Screen
                        .done(function () {
                         console.log("Worked")
                         $.connection.ismHub.server.announce();
                      }).fail(function () { alert("Can't Refresh Your Line Screen! Plese Inform IT Department!") });//return to dashbord
                    }
                    else {
                        body.append('<P style="color:green" class="text-center">Issue is Solved. Great work!</br>Thank You.</p>');
                        $("#savecomment").hide();
                        getDataissue()
                         $.connection.hub.start()//Refresh Screen
                        .done(function () {
                         console.log("Worked")
                         $.connection.ismHub.server.announce();
                      }).fail(function () { alert("Can't Refresh Your Line Screen! Plese Inform IT Department!") });//return to dashbord
                            }
                }).fail(function (response) {
                    console.log('Error: ' + response);
                });
            }

        });
        $("#comment").click(function () {
            $('#comment').css('border-color', '#ced4da');
            $("#waring").hide();
        });

        function buzzeroff(param)
        { 
        var id = $(param).data('issue_id');
        var location  =$(param).data('location');
        obj = new Object();
        obj.issueid  = id ;
        obj.location=location;
        obj.employee_id=@Session["userID"]
        var obj_array = new Array();
        obj_array.push(obj);

        var issueJson = JSON.stringify(obj_array);
         var url = '@Url.Action("offBuzzer", "ResponsiblePerson")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: { issueJson: issueJson },
            success: function (feedback) {
                  getDataissue()
            },
            error: function (feedback) {
                alert(feedback);
            }
        });
        }
         function buzzeroffmain(param)
        {
         var id = $(param).data('issue_id');
         var location = $(param).data('location');
          
        obj = new Object();
        obj.issueid  = id ;
        obj.location=location;
        obj.employee_id=@Session["userID"]
        var obj_array = new Array();
        obj_array.push(obj);

        var issueJson = JSON.stringify(obj_array);
        var url = '@Url.Action("offBuzzermaintenance", "ResponsiblePerson")'
        $.ajax({
            type: "POST",
            dataType: 'text',
            url: url,
            data: { issueJson: issueJson },
            success: function (feedback) {
            getDataissue()
            },
            error: function (feedback) {
                alert(feedback);
            }
        });
        }
        </script>
    </div>
</div>
