
@{
    ViewBag.Title = "Raspberry";

}
@using IssueManagementSystem.Models;
@using System.Web.UI.WebControls;
@using System.Web.UI;
@model List<IssueManagementSystem.Models.issue_occurrence>
@{ string lineName = null; string map = null; }
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Display/jquery.totemticker.js"></script>
<link href="~/Content/Display/style.css" rel="stylesheet" />
<link href="~/Content/Display/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Display/displaystyles.css" rel="stylesheet" />

@{
    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())
    {
        int id = ViewBag.id;
        var lineinfo = db.lines.Where(x => x.line_id == id).FirstOrDefault();
        lineName = lineinfo.line_name;
        var mapinfo = db.line_map.Where(x => x.line_id == id).FirstOrDefault();
        map = mapinfo.map;
    }
}


<div style="display:flex">
    <div style="display:inline-grid;grid-template-columns: 50%  50%">
        <div id="container">
            <canvas id="canvas1" style="border: 1px solid black;margin-left:2em;); background-size: 100% 100%;" width="250" height="750">
                <br> This text is displayed if your browser does not support HTML5 Canvas. </br>
            </canvas>
        </div>
        <label id="map" style="display: none;"> @map</label>
    </div>
    <div class="container-fluid margin">
        <div class="displayhedding" style="margin-top:-20pt">
            <div class="row">
                <div class="col-lg-5">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/Content/images/logo.png" alt="CoolAdmin" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 text-left">
                    <h3>@lineName</h3>
                </div>

            </div>
        </div>
        <div class="text-center" style="margin-top:20%" id="loding_icon">
            <img src="~/Content/images/loding.svg">
        </div>
        <div class="row">

            <div class="col-sm-11" style="margin:20pt">
                <div id="wrapper">
                    <ul id="vertical-ticker">
                        <li id="brake_list">
                            <div class="card text-white bg-danger mb-3" style="max-width:80rem;" id="brakediv">
                                <div class="card-header">Machine Breakdown</div>
                                <div class="card-body" id="breakediv">
                                    <table class="table" style="max-width:80rem;color:white">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Machine</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible Person</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Countdown</th>
                                            </tr>
                                        </thead>
                                        <tbody id="breake_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="maririal_list">
                            <div class="card text-white bg-warning mb-3" style="max-width: 120rem;" id="maririaldiv">
                                <div class="card-header">Material Delay</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:120rem;color:black">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Material</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible Person</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Countdown</th>
                                            </tr>
                                        </thead>
                                        <tbody id="matirial_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="tecnical_list">
                            <div class="card text-white bg-success mb-3" style="max-width: 120rem;" id="tecnicaldiv">
                                <div class="card-header">Technical Issue</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:120rem;color:white">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible Person</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Countdown</th>
                                            </tr>
                                        </thead>
                                        <tbody id="technical_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="IT_list" hidden>
                            <div class="card text-white bg-primary mb-3" style="max-width: 120rem;" id="Softwarediv">
                                <div class="card-header">IT/Software Issue</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:120rem;color:white;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible Person</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Countdown</th>
                                            </tr>
                                        </thead>
                                        <tbody id="it_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li id="QTY_list">
                            <div class="card text-white bg-primary mb-3" style="max-width: 120rem;" id="qtydiv">
                                <div class="card-header">Quality Issue</div>
                                <div class="card-body">
                                    <table class="table" style="max-width:120rem;color:white;">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Responsible Person</th>
                                                <th scope="col">Area</th>
                                                <th scope="col">Countdown</th>
                                            </tr>
                                        </thead>
                                        <tbody id="qty_body"></tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <script>
    $('#brakediv').hide();
    $('#maririaldiv').hide();
    $('#Softwarediv').hide();
    $('#qtydiv').hide();
    $('#tecnicaldiv').hide();
    $('#breake_body').empty();
    $('#matirial_body').empty();
    $('#technical_body').empty();

            </script>

            <script src="~/Scripts/3.30bootstrap.min.js"></script>
            <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
            <script src="~/Scripts/moment.min.js"></script>
            <script src="~/signalr/Hubs"></script>
            <script>

       if(@ViewBag.id==10)
        {
                 $('#canvas1').hide();
          
        }

    $.connection.hub.start()
                .done(function(){console.log("Its Works")
                //   $.connection.ismHub.server.announce();
                })
                .fail(function(){ console.log("hub Error occurred");});
  $.connection.ismHub.client.announce=function(){location.reload();}
    $(document).ready(function () {

        // Proxy created on the fly
        var hub = $.connection.issueHub;
        var issueCount = 0;

        // Declare a function on the hub hub so the server can invoke it
        hub.client.displayStatus = function () {

            getData();
        };

        // Start the connection
        $.connection.hub.start();
        getData();

function getData()
{
var url = '@Url.Action("GetIssues", "Supervisor")'
var count=0;
$.ajax({
    url: url,
        type: 'GET',
        datatype: 'json',
        success: function (issuedata) {
        issuedata = $.parseJSON(issuedata);
        if (issuedata.length > 0)
        {
            blinkMap();
             var seconds=[]
             for (var i = 0; i < issuedata.length; i++) {

                if ((issuedata[i].line_line_id==@ViewBag.Id) && (issuedata[i].issue_satus=="1" ))
                {
                    var responcibleperson_ststus= issuedata[i].responsible_person_confirm_status
                    var issueid = issuedata[i].issue_issue_ID
                    count++
                    var date = issuedata[i].issueDate.split(' ');
                    var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
                   var standedDate=moment(date[0], 'M/D/Y/').format('Y MMM D ');
                    var time=date[1] +" "+ date[2]
                    var issue_occurrence_id = issuedata[i].issue_occurrence_id
                    var d = new Date();
                    var startDate = new Date(issuedata[i].issueDate);

                    var today= d.getTime();
                    var milliseconds = startDate.getTime();

                   var gap = Math.round(Math.abs(today - milliseconds)/1000);
                   var group= issuedata[i].group
                   if(group==1)
                   {
                   group="Heat Treatment"
                   }else{
                   group="Accessories"
                  }
                   seconds.push(gap)
                    if (issueid == 1)//breakedown
                    {
                        $('#brakediv').show()
                        var divissue = $('#breake_body');
                        var issue = '<tr><td>' + standedDate + '</td><td>'+time+'</td><td>' + issuedata[i].machine_machine_id+'</td><td>' + issuedata[i].description+'</td><td>' + issuedata[i].responciblepersonName+'</td><td>'+group+'</td><td><span id="countdown'+count+'" class="timer"></span></td></tr>'
                        divissue.append(issue)
                        divissue.show('slow');
                        $('#loding_icon').hide();

                       // alert(date)


                    }
                    if (issueid == 2)//Material Delay
                    {
                        $('#maririaldiv').show()
                        var divissue = $('#matirial_body');
                        var issue = '<tr><td>' + standedDate + '</td><td>'+time+'</td><td>' + issuedata[i].matirial + '</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td><td>'+group+'</td><td><span id="countdown'+count+'"class="timer"></span></td></tr>'
                        divissue.append(issue)
                        divissue.show('slow');
                        $('#loding_icon').hide();



                    }
                    if (issueid == 3)//Technical Issue
                    {
                        $('#tecnicaldiv').show();
                        var divissue = $('#technical_body');
                        var issue = '<tr><td>' + standedDate + '</td><td>'+time+'</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td><td>'+group+'</td><td><span id="countdown'+count+'" class="timer"></span></td></tr>'
                        divissue.append(issue)
                        divissue.show('slow');
                        $('#loding_icon').hide();


                    }
                    if (issueid == 4)//Quility
                    {
                       $('#qtydiv').show();
                        var divissue = $('#qty_body');
                        var issue = '<tr><td>' + standedDate + '</td><td>'+time+'</td><td>' + issuedata[i].description + '</td><td>' + issuedata[i].responciblepersonName + '</td><td>'+group+'</td><td><span id="countdown'+count+'" class="timer"></span></td></tr>'
                        divissue.append(issue)
                        divissue.show('slow');
                        $('#loding_icon').hide();
                   }



            }
              if(count==0)
                {
                    $('#loding_icon').hide();
                }


        }

       setTimmer(seconds, count)

        var countdownTimer = setInterval('timer()', 1000);

    }

    }, error: function (r, e, w) {
    }
   });
  }
 })
 function setTimmer(startTime,i)
  {
    var upgradeTime =startTime;
    var seconds = startTime;

    window.timer = function()
    {
       for(var j=0;j<i;j++)
        {
          console.log(seconds[0])
        var days        = Math.floor(seconds[j]/24/60/60);
        var hoursLeft   = Math.floor((seconds[j]) - (days*86400));
        var hours       = Math.floor(hoursLeft/3600);
        var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
        var minutes     = Math.floor(minutesLeft/60);
        var remainingSeconds = seconds[j] % 60;
        window.pad = function(n)
       {
        return (n < 10 ? "0" + n : n);
       };
     var divid=j+1
       document.getElementById('countdown'+divid).innerHTML = pad(days) + ":" + pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);

        seconds[j]++;
       }
    }

  }
            </script>
            <script type="text/javascript">
function init() {
var s = new CanvasState(document.getElementById('canvas1'));

setInterval(function () {
    //console.log(globalvariable);
    if (globalvariable == 0) { globalvariable = 1; }
    else { globalvariable = 0; }
}, 100);

    var url = '@Url.Action("getBlinkingMachinesList", "Display")'
$.ajax({
    type: "POST",
    dataType: 'text',
    url: url,
    data: { line: '@ViewBag.id' },
    success: function (line_data) {
        var obj = JSON.parse(line_data);
        console.log(obj);
        set_blinking_machines(obj);
    },
    error: function () {
        console.log("Error occurred");
    }
});

}


function blinkMap() {
    var url = '@Url.Action("getBlinkingMachinesList", "Display")'
$.ajax({
    type: "POST",
    dataType: 'text',
    url: url,
    data: { line: @ViewBag.id },
    success: function (line_data) {
        var obj = JSON.parse(line_data);
        console.log(obj);
        set_blinking_machines(obj);
    },
    error: function () {
            console.log("Error occurred");

    }
});
}
$(function () {
$('#vertical-ticker').totemticker({
    row_height: '100px',
    next: '#ticker-next',
    previous: '#ticker-previous',
    stop: '#stop',
    start: '#start',
    mousestop: true,
});
});


            </script>
            <script src="~/Scripts/Display/showmapdisplay.js"></script>
            <script>
    var id=@ViewBag.id.ToString();
    var inputPath="../Content/images/"+id+".jpg"
    var url = '@Url.Action("loadBase64Image", "Admin")';
$.ajax({
    type: "POST",
    dataType: 'text',
    url: url,
    data: {inputPath},
    success: function (mapData) {

    if (mapData.length > 0) {
        document.getElementById('canvas1').style.background = "url(data:image/jpeg;base64," + mapData + ")";
    }
    else {
        document.getElementById('canvas1').style.background = "";
    }

        document.getElementById('canvas1').style.backgroundSize = "250px 750px";

    },
    error: function () {
        alert("Error");
    }
    });

        setTimeout(function(){
        if(@ViewBag.id==9)
        {
           window.location.href = "http://localhost:12675/Display/accersariesHeatTreatment/10"
        }
        if(@ViewBag.id==10)
        {
               
           window.location.href = "http://localhost:12675/Display/accersariesHeatTreatment/9"
        }
    },10000);
        setTimeout(function(){

          location.reload();

    },3600000);

            </script>
        </div>
    </div>
</div>










