
@{
    ViewBag.Title = "selectIssue";
    Layout = "~/Views/Shared/supervisorsLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");


    }
}
@{

    int userID = (int)Session["userID"];// get current supervisorID


    ViewBag.LineId = Session["lineId"];
    int line = ViewBag.LineId;
    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())
    {
        var lineInfo = db.lines.Where(x => x.line_id == line).FirstOrDefault();
        ViewBag.LineName = lineInfo.line_name;

    }
}
@using IssueManagementSystem.Models;
@model List<IssueManagementSystem.Models.issue_occurrence>
<link href="~/Content/test/jquery-confirm.min.css" rel="stylesheet" />
<div class="page-content--bgf7">
    <section class="au-breadcrumb2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Supervisor</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item active">
                                    <a href="#">@ViewBag.LineName</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Hi @Session["name"]
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <section class="welcome p-t-10" style="padding-top:50px;padding-bottom:50px">
        <div class="container-fluid">
            <div class="text-center">
                <img src="~/Content/images/loding.svg" id="loding_icon">
            </div>

            <div class="row" id="divIssue" style="margin: auto;">

            </div>

        </div>
    </section>

</div>

<script src="~/Content/test/jquery-3.3.1.min.js"></script>
<script src="~/Content/test/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/Hubs"></script>



<script>
    $(document).ready(function () {

        // Proxy created on the fly
        var hub = $.connection.issueHub;
        var issueCount = 0;



        window.getDataissue = function()
        {

            var divissue = $('#divIssue');
             var url = '@Url.Action("GetIssues", "Supervisor")';
            $.ajax({
                url: url,
                    type: 'GET',
                    datatype: 'json',
                    success: function (issuedata) {

                    issuedata = $.parseJSON(issuedata);
                    if (issuedata.length > 0) {
                        divissue.empty();




                        for (var i = 0; i < issuedata.length; i++) {



                            if ((issuedata[i].line_line_id==@ViewBag.LineId) && (issuedata[i].issue_satus=="1" )) {
                                var responcibleperson_ststus= issuedata[i].responsible_person_confirm_status
                                var issueid = issuedata[i].issue_issue_ID
                                var responce_comment = issuedata[i].responsible_person_confirm_feedback
                                var date = issuedata[i].issueDate.split(' ');
                                var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
                                var issue_occurrence_id = issuedata[i].issue_occurrence_id
                                var group= issuedata[i].group
                                var issue
                                if (issueid == 1)//breakedown
                                {
                                    issue = '<div id="card' + issue_occurrence_id + '" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--red"><span class="desc" style="color:white">Machine Breakdown</span><div class="icon" ><i class="zmdi zmdi-settings zmdi-hc-spin"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id + '"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Machine : </strong>' + issuedata[i].machine_machine_id + '</br><strong>Description : </strong>' + issuedata[i].description +'</p> <div class="text-right"> <button  class="btn btn-success"   data-id="' + issue_occurrence_id + '"  data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved </button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                    if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {  
                                    issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--red"><span class="desc" style="color:white">Machine Breakdown</span><div class="icon" ><i class="zmdi zmdi-settings zmdi-hc-spin"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id+'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Machine : </strong>' + issuedata[i].machine_machine_id + '</br><strong>Group : </strong> group '+issuedata[i].group+' </p> <div class="text-right"> <button  class="btn btn-success"   data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid + '" onclick="myfunction(this)">Solved </button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                    }
                                }
                                if (issueid == 2)//Material Delay
                                {

                                    issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--orange"><span class="desc" style="color:white">Material Delay</span><div class="icon" ><i class="zmdi animated infinite wobble zmdi-shopping-cart"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Material : </strong>' + issuedata[i].matirial+'</p> <div class="text-right"><button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                   if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {
                                        issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--orange"><span class="desc" style="color:white">Material Delay</span><div class="icon" ><i class="zmdi animated infinite wobble zmdi-shopping-cart"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Material : </strong>' + issuedata[i].matirial+'</br><strong>Group : </strong> group '+issuedata[i].group+'</p> <div class="text-right"><button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid +'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                     }

                                }
                                if (issueid == 3)//Technical Issue
                                {


                                    issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--green"><span class="desc" style="color:white">Technical Issue</span><div class="icon" ><i class="fas fa-wrench"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                     if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {
                                        issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--green"><span class="desc" style="color:white">Technical Issue</span><div class="icon" ><i class="fas fa-wrench"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName +'</br><strong>Group : </strong> group '+issuedata[i].group+ '</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                    }

                                }
                                if (issueid == 4)//Quility
                                {


                                    issue = '<div id="card' + issue_occurrence_id + '" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--blue"><span class="desc" style="color:white">Qulity Issue</span><div class="icon" ><i class="zmdi zmdi-brightness-auto"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id + '"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>IssueDate : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Description : </strong>' + issuedata[i].description + '</p><div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'


                                }
                                if (issueid == 5)//IT/Software
                                {

                                    issue = '<div id="card'+issue_occurrence_id+'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card"> <div class="statistic__item statistic__item--blue"><span class="desc" style="color:white">IT/Software Issue</span><div class="icon" ><i class="zmdi zmdi-windows"></i></div></div><div class="card-body"><h5 class="card-title" ></h5><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'"data-group="'+group+'"onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                }




                                divissue.append(issue)
                                $('#loding_icon').hide();
                                divissue.show('slow');

                                if (responce_comment != '') {
                                    document.getElementById("check" + issue_occurrence_id).style.display = "block"
                                }



                            }



                        }
                       $('#loding_icon').hide();
                    }
                }, error: function (r, e, w) {
                }
            });
        }
           // Declare a function on the hub hub so the server can invoke it
        hub.client.displayStatus = function () {

            getDataissue();
        };

        // Start the connection
        $.connection.hub.start();
        getDataissue();
    })

function myfunction(param)
{
    $.confirm({
        title: 'Solved Issue?',
        content: 'Please confirm your action within 8 seconds',
        autoClose: 'cancelAction|8000',
        type: 'orange',
        buttons: {
            deleteUser: {
                text: 'Confirm',
                btnClass: 'btn-warning',
                action: function () {
                var group=$(param).data('group');
                    var id = $(param).data('id');
                    var issue_id = $(param).data('issue_id');
                    var url = '@Url.Action("SolvedIssue", "Supervisor")?issueId=' + issue_id + '&issueOccourId=' + id+'&lineId='+'@ViewBag.lineId'+'&group='+group;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (issuedata) {
                            getDataissue();
                            $.connection.hub.start().done(function () {$.connection.ismHub.server.announce();}).fail(function () { alert("Sorry, Can't Update your screen !")});
                            $('#card'+id).fadeOut(2000);

                        }
                    });
                }
            },cancelAction: function () {
                    $.alert('Action is canceled!');
                }
        }
    });
}
</script>
<script src="~/Content/test/jquery-confirm.min.js"></script>