@{
    ViewBag.Title = "DashBord";

    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    int lineid = ViewBag.lineId;
    int employeeNumber = int.Parse(Session["userID"].ToString());

    using (issue_management_systemEntities1 db = new issue_management_systemEntities1())
    {
        var lineInfo = db.lines.Where(x => x.line_id == lineid).FirstOrDefault();
        ViewBag.LineName = lineInfo.line_name;
    }

    bool isSpecialBtnEmployee = false;
    using (BigRedEntities bigRed = new BigRedEntities())
    {
        var btnUser = bigRed.tbl_PPA_User.FirstOrDefault(u => u.EmployeeNumber == employeeNumber);
        if (btnUser != null && btnUser.EmployeeNumber == 2001)
        {
            isSpecialBtnEmployee = true;
        }
    }

    // Pass the flag to the view using ViewBag
    ViewBag.IsSpecialEmployee = isSpecialBtnEmployee;

}
@using IssueManagementSystem.Models;
@model List<IssueManagementSystem.Models.issue_occurrence>

<link href="~/Content/test/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/Content/SupervisorStyles/voiceanimations.css" rel="stylesheet" />

<div class="page-content--bgf7">
    <section class="au-breadcrumb2">

        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">CellEngineer</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Dashboard</li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item active">
                                    <a href="#">@ViewBag.LineName</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @if (ViewBag.IsSpecialEmployee)
                {
                    <div style="margin-left: auto;">
                        <button class="btn btn-dark" style="margin-right: 20px; border-radius: 14px;" data-toggle="modal" data-target="#popup">
                            Kaizen
                        </button>
                    </div>
                }
                </div>
        </div>
    </section>

    @*<section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div style="display: flex">
                            <h1 class="title-4">
                                Hi @Session["name"]
                            </h1>
                            <div style="margin-left: auto;">
                                <button class="btn btn-dark" style="margin-right: 20px;" data-toggle="modal" data-target="#popup">
                                    Kaizen
                                </button>
                            </div>

                        </div>


                        <hr class="line-seprate">
                    </div>
                </div>
            </div
        </section>>*@
    <section class="welcome p-t-10" style="padding-bottom:50px;">
        <div class="container-fluid">
            <div class="text-center">
                <img src="~/Content/images/loding.svg" id="loding_icon">
            </div>

            <div class="row" id="divIssue" style="margin: auto;">

            </div>

        </div>
    </section>

    <div class="sticky-footer" style="position: fixed; bottom: 0; right: 0; width: 75%; border-top-left-radius: 80px; border-top-right-radius: 40px; background-color: #212529; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); z-index: 1000; ">
        <div class="col-3">
            <h1 class="title-4" style="color: #ccc; margin-left: 20px; font-weight: 600;">
                Hi @Session["name"]
            </h1>
        </div>
        
        <div class="col-9">
            <div class="container h-100">
                <div class="d-flex justify-content h-100" style="float:right">
                    <div class="searchbar" style="border: double; border-bottom-color: white">
                        <img id="listening" src="~/Content/images/Ripple-1.8s-34px.svg"><input class="search_input" type="text" name="" placeholder="Listening....">
                        <button onclick="startConverting()" class="search_icon"><i class="fa fa-microphone"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modalPopup" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date and Time</th>
                            <th scope="col">Line</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Responcible Person</th>
                            <th scope="col">Count down</th>

                        </tr>
                    </thead>
                    <tbody id="issue_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupLabel">Kaizen Content</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="margin-top:20px;">
                        <div class="col-lg-4">
                            <label for="selectline">Select Line</label>
                        </div>
                        <div class="col-lg-8" id="linetype">
                            <select class="js-example-placeholder-single js-states form-control" id="selectline" name="selectline">
                                @foreach (var item in ViewBag.lineList)
                                {
                                    <option value="@item.line_id">@item.line_name</option>
                                }


                            </select>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <!-- Left Dropdown -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dropdown1">Month</label>
                                <select class="form-control" id="monthDropdown">
                                    <option value="1">JANUARY</option>
                                    <option value="2">FEBRUARY</option>
                                    <option value="3">MARCH</option>
                                    <option value="4">APRIL</option>
                                    <option value="5">MAY</option>
                                    <option value="6">JUNE</option>
                                    <option value="7">JULY</option>
                                    <option value="8">AUGUST</option>
                                    <option value="9">SEPTEMBER</option>
                                    <option value="10">OCTOBER</option>
                                    <option value="11">NOVEMBER</option>
                                    <option value="12">DECEMBER</option>
                                </select>
                            </div>
                        </div>

                        <!-- Right Dropdown -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="year">Year</label>
                                <input type="text" class="form-control" id="yearInput" placeholder="Enter data">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input1">Bla Bla</label>
                        <input type="text" class="form-control" id="blablaInput" placeholder="Enter data">
                    </div>
                    <div class="row">
                        <!-- Left Column: 7 Textboxes -->
                        <div class="col-md-6">
                            <h3>TARGET</h3>
                            <br />
                            <div class="form-group">
                                <label for="input1">Internal Accidents</label>
                                <input type="number" class="form-control" id="intAccInput" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input2">Customer Complaint</label>
                                <input type="number" class="form-control" id="custCompInput" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input3">Sample Audit Findings</label>
                                <input type="number" class="form-control" id="sampleAudInput" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input4">DSA</label>
                                <input type="text" class="form-control" id="DSAInput" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input5">Production Process Time</label>
                                <input type="text" class="form-control" id="productProcInput" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input6">Rework Cost Per Unit</label>
                                <input type="number" class="form-control" id="ReworkCostInput" placeholder="Enter data" step="0.01"> 
                            </div>
                            <div class="form-group">
                                <label for="input7">Kaizens</label>
                                <input type="text" class="form-control" id="kaizenInput" placeholder="Enter data">
                            </div>
                        </div>

                        <!-- Right Column: 7 Textboxes -->
                        <div class="col-md-6">
                            <h3>ACTUAL</h3>
                            <br />
                            <div class="form-group">
                                <label for="input8">Internal Accidents</label>
                                <input type="number" class="form-control" id="intAccInputA" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input9">Customer Complaint</label>
                                <input type="number" class="form-control" id="custCompInputA" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input10">Sample Audit Findings</label>
                                <input type="number" class="form-control" id="sampleAudInputA" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input11">DSA</label>
                                <input type="number" class="form-control" id="DSAInputA" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input12">Production Process Time</label>
                                <input type="number" class="form-control" id="productProcInputA" placeholder="Enter data">
                            </div>
                            <div class="form-group">
                                <label for="input13">Rework Cost Per Unit</label>
                                <input type="number" class="form-control" id="ReworkCostInputA" placeholder="Enter data" step="0.01">
                            </div>
                            <div class="form-group">
                                <label for="input14">Kaizens</label>
                                <input type="number" class="form-control" id="kaizenInputA" placeholder="Enter data">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitModalData">Update</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submitModalData").click(function () {

            var selectedMonthText = $("#monthDropdown option:selected").text();
            var summaryReport = {
                LineId: $("#selectline").val(),
                Date: new Date().toISOString(),
                Month: selectedMonthText,
                Year: $("#yearInput").val(),
                Wk: $("#blablaInput").val(),
                InternalAccT: $("#intAccInput").val(),
                InternalAccA: $("#intAccInputA").val(),
                CustomerCompT: $("#custCompInput").val(),
                CustomerCompA: $("#custCompInputA").val(),
                sampleAuditFindT: $("#sampleAudInput").val(),
                sampleAuditFindA: $("#sampleAudInputA").val(),
                DSAA: $("#DSAInputA").val(),
                DSAT: $("#DSAInput").val(),
                ProductionProcessTimeT: $("#productProcInput").val(),
                ProductionProcessTimeA: $("#productProcInputA").val(),
                ReworkCostT: $("#ReworkCostInput").val(),
                ReworkCostA: $("#ReworkCostInputA").val(),
                KaizensT: $("#kaizenInput").val(),
                KaizensA: $("#kaizenInputA").val()
            };

            $.ajax({
                url: '@Url.Action("SubmitKaizenData", "CellEngineer")',
                type: 'POST',
                data: $(this).serialize(),  // Ensure form data is serialized correctly
                data: JSON.stringify(summaryReport),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        $('#popup').modal('hide'); // Hide modal on success
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('An error occurred while saving data.');
                }
            });
        });
    });
</script>


<script src="~/Content/test/jquery-3.3.1.min.js"></script>
<script src="~/Content/test/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
<script src="~/signalr/Hubs"></script>

<script>
     $("#listening").hide()

    $(document).ready(function () {
        // Proxy created on the fly
        var hub = $.connection.issueHub;
        var issueCount = 0;


       window.getDataissue = function()
        {
            var divissue = $('#divIssue');
             var url = '@Url.Action("GetIssues", "Supervisor")';
            $.ajax({
                url: url,
                    type: 'GET',
                    datatype: 'json',
                    success: function (issuedata) {
                    issuedata = $.parseJSON(issuedata);
                    if (issuedata.length > 0) {
                        divissue.empty();
                        for (var i = 0; i < issuedata.length; i++) {
                            if ((issuedata[i].line_line_id==@ViewBag.lineId ) && (issuedata[i].issue_satus=="1" )) {
                                var responcibleperson_ststus= issuedata[i].responsible_person_confirm_status
                                var issueid = issuedata[i].issue_issue_ID
                                var responce_comment = issuedata[i].responsible_person_confirm_feedback
                                var date = issuedata[i].issueDate.split(' ');
                                var day = moment(date[0], 'M/D/Y/').format('MMMM D Y');
                                var issue_occurrence_id = issuedata[i].issue_occurrence_id
                                var issue
                                var group= issuedata[i].group
                                if (issueid == 1)//breakdown
                                {
                                    issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--red" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Machine Breakdown</span><div class="icon" ><i class="zmdi zmdi-settings zmdi-hc-spin"></i></div></div><div class="card-body"></h5><div style="display:none" id="check' + issue_occurrence_id+'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Machine : </strong>' + issuedata[i].machine_machine_id +'</br><strong>Description : </strong>'+issuedata[i].description+'</p> <div class="text-right"> <button  class="btn btn-success"   data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid + '" onclick="myfunction(this)">Solved </button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                    if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {
                                        issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--red" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Machine Breakdown</span><div class="icon" ><i class="zmdi zmdi-settings zmdi-hc-spin"></i></div></div><div class="card-body"></h5><div style="display:none" id="check' + issue_occurrence_id+'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Machine : </strong>' + issuedata[i].machine_machine_id + '</br><strong>Group : </strong> group '+issuedata[i].group+' </p> <div class="text-right"> <button  class="btn btn-success"   data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid + '" onclick="myfunction(this)">Solved </button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                    }
                                }
                                if (issueid == 2)//Material Delay
                                {
                                    issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--orange" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Material Delay</span><div class="icon" ><i class="zmdi animated infinite wobble zmdi-shopping-cart"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Material : </strong>' + issuedata[i].matirial+'</p> <div class="text-right"><button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid +'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                    if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {
                                        issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--orange" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Material Delay</span><div class="icon" ><i class="zmdi animated infinite wobble zmdi-shopping-cart"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong> ' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</br><strong>Material : </strong>' + issuedata[i].matirial+'</br><strong>Group : </strong> group '+issuedata[i].group+'</p> <div class="text-right"><button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-group="'+group+'" data-issue_id="' + issueid +'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                     }
                                 }
                                if (issueid == 3)//Technical Issue
                                {
                                    issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--green" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Technical Issue</span><div class="icon" ><i class="fas fa-wrench"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName +'</br><strong>Description : </strong>'+issuedata[i].description+'</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                    if(( issuedata[i].lineName=='MachineShop 1')||(issuedata[i].lineName=='MachineShop 2'))
                                    {
                                        issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--green" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Technical Issue</span><div class="icon" ><i class="fas fa-wrench"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName +'</br><strong>Group : </strong> group '+issuedata[i].group+ '</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'

                                    }
                                }
                                if (issueid == 4)//Quility
                                {
                                    issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--blue" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">Qulity Issue</span><div class="icon" ><i class="zmdi zmdi-brightness-auto"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>IssueDate : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName +'</br><strong>Group : </strong> group '+issuedata[i].group+'</br><strong>Description : </strong>'+issuedata[i].description+ '</p><div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'" data-group="'+group+'" onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                }
                                if (issueid == 5)//IT/Software
                                {
                                    issue = '<div id="card' + issue_occurrence_id +'" class="col-md-6 col-lg-4" style=" margin-top: 10px;"><div class="card" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-right-radius: 20px; border-top-left-radius: 20px;"> <div class="statistic__item statistic__item--blue" style="border-radius: 20px;"><span class="desc" style="color:white; font-weight: 600;">IT/Software Issue</span><div class="icon" ><i class="zmdi zmdi-windows"></i></div></div><div class="card-body"><div style="display:none" id="check' + issue_occurrence_id +'"><i  class="fas fa-check" style="font-size:30px; color:green;float:right;"></i></div><p class="card-text"><strong>Issue Date : </strong>' + day + '</br><strong>Time : </strong>' + date[1] + " " + date[2] + '</br><strong>Responsible Person :</strong> ' + issuedata[i].responciblepersonName + '</p> <div class="text-right"> <button  class="btn btn-success"  data-id="' + issue_occurrence_id + '" data-issue_id="' + issueid +'"data-group="'+group+'"onclick="myfunction(this)">Solved</button></div></div><div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div></div><div>'
                                }
                                divissue.append(issue)
                                $('#loding_icon').hide();
                                divissue.show('slow');

                                if (responce_comment != '') {
                                    document.getElementById("check" + issue_occurrence_id).style.display = "block" }
                            }
                        }
                      $('#loding_icon').hide();
                    }
                }, error: function (r, e, w) {
                }
            });
        }
        // Declare a function on the  hub so the server can invoke it
        hub.client.displayStatus = function () {
            debugger
            getDataissue();
        };
        // Start the connection
        $.connection.hub.start();
        getDataissue();

    })
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const footer = document.querySelector(".sticky-footer");
        let lastScrollTop = 0;

        window.addEventListener("scroll", function () {
            let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                // User scrolled down
                footer.classList.add("hidden");
            } else {
                // User scrolled up
                footer.classList.remove("hidden");
            }

            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Avoid negative scrolling
        });
    });

</script>

<script type="text/javascript">

function myfunction(param)
{
    $.confirm({
        title:'Solved Issue?',
        content:'Please confirm your action within 8 seconds',
        autoClose:'cancelAction|8000',
        type:'orange',
        buttons: {
            deleteUser: {
                text:'Confirm',
                btnClass:'btn-warning',
                action: function () {
                var group=$(param).data('group');
                    var id = $(param).data('id');
                    var issue_id = $(param).data('issue_id');
                    var url = '@Url.Action("SolvedIssue", "Supervisor")?issueId=' + issue_id + '&issueOccourId=' + id+'&lineId='+'@ViewBag.lineId'+'&group='+group;
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (issuedata) {
                            getDataissue();
                            $.connection.hub.start().done(function () {$.connection.ismHub.server.announce();}).fail(function () { alert("Sorry, Can't Update your screen !")});
                            $('#card'+id).fadeOut(2000);
                        }
                    });
                }
            },cancelAction: function () {
                    $.alert('Action is canceled!');
                }
        }
    });
}

    var r = $('.search_input');

   $(function(){
  if ('speechSynthesis' in window) {
    speechSynthesis.onvoiceschanged = function() {}
    window.getVoice = function(voicemsg) {
      var msg = new SpeechSynthesisUtterance();
      var voices = window.speechSynthesis.getVoices();
      msg.voice = voices[1];
      msg.rate = 1;
      msg.pitch = 1;
      msg.text = voicemsg;
      msg.onend = function(e) {
      console.log('Finished in ' + event.elapsedTime + ' seconds.');
    };
      speechSynthesis.speak(msg);
     }
    }
  });

	function startConverting ()
    {    $("#listening").show();
        getVoice("Hello "+ '@Session["name"]' +" I'm listening for you!");
		if('webkitSpeechRecognition' in window){
			var speechRecognizer = new webkitSpeechRecognition();
			speechRecognizer.continuous = true;
			speechRecognizer.interimResults = true;
			speechRecognizer.lang = 'en-IN';
			speechRecognizer.start();
			var finalTranscripts = '';
			speechRecognizer.onresult = function(event){
				var interimTranscripts = '';
				for(var i = event.resultIndex; i < event.results.length; i++){
					var transcript = event.results[i][0].transcript;
					if(event.results[i].isFinal){
						finalTranscripts += transcript.trim();
                           $("#listening").hide()
                           r.val(transcript.trim())
                         VoiceAction( transcript.trim() )
					}else{
						interimTranscripts += transcript;
					}
				}
			};
			speechRecognizer.onerror = function (event) {
			};
		}else{
			r.value = 'Your browser is not supported. If google chrome, please upgrade!';
		}
	}
		function playVoice(){
			var msg = new SpeechSynthesisUtterance('Hello World');
			window.speechSynthesis.speak(msg);
			speechSynthesis.speak(new SpeechSynthesisUtterance('Hello World'));
		}
        function VoiceAction(keyWord )
        {
            if(keyWord=="breakdown" || keyWord=="machine breakdown")
            {
                  $('.search_input').val('')
                window.location.href = '/CellEngineer/MachinBreakdown?lineid=' +  @ViewBag.lineId;
            }
            else if(keyWord=="technical" || keyWord=="technical issue")
            {   $('.search_input').val('')
                window.location.href = '/CellEngineer/TechnicalIssue?lineid=' +  @ViewBag.lineId;
            }
            else if(keyWord=="material" || keyWord=="material delay")
            {   $('.search_input').val('')
                window.location.href = '/CellEngineer/MaterialDelay?lineid=' +  @ViewBag.lineId;
            }
            else if(keyWord=="it" || keyWord=="it issue")
            {   $('.search_input').val('')
                window.location.href = '/CellEngineer/ITIssue?lineid=' +  @ViewBag.lineId;
            }
            else if(keyWord=="what is your name" || keyWord=="name"|| keyWord=="what's your name")
            {
                  getVoice("My name is Flintec issue management system. How could I help you " + '@Session["name"]' );
            }
           else if(keyWord=="hello" || keyWord=="hi" || keyWord=="how are you" || keyWord=="hello how are you")
            {
                  getVoice("Hello "+ '@Session["name"]' +' How are you!');
            }
           else if(keyWord=="who am I" || keyWord=="hi" || keyWord=="how are you" || keyWord=="hello how are you")
            {
                  getVoice("You are "+ '@Session["name"]' +'. And you are a '+ '@Session["Role"]'+ ' of Flintec Transducers');
            }
          else if(keyWord=="show me today's summary" || keyWord=="summary"|| keyWord=="today" ||keyWord=="show me today summary"||keyWord=="show me today issues" )
            {
                getVoice("wait a second I will find it for you");
                var url = '@Url.Action("GetIssues", "Voice")';
                $.ajax({
                url: url,
                    type: 'GET',
                    datatype: 'json',
                    success: function (issuedata) {
                             showIssues(issuedata)
                             },
                    error: function () {alert("Error!")}
                });
            }
          else
           {
                 getVoice("Sorry! I don't know that command.");
           }
       setTimeout(function(){
                   $('.search_input').val('')
                  $("#listening").show()}, 3000);

        }

function showIssues(issuedata)
    {
    var options = {
            "backdrop" : "static",
            "show":true
        }
   var issueBody=$("#issue_body")
   issuedata = $.parseJSON(issuedata);
    issueBody.empty()
    var count=0;
                    if (issuedata.length > 0) {

                        for (var i = 0; i < issuedata.length; i++)
                         {
                           if(issuedata[i].issue_satus=="1")
                            {
                                var row='<tr><td>'+i+'</td><td>'+issuedata[i].issueDate+'</td><td>'+issuedata[i].lineName+'</td><td>'+issuedata[i].issueName+'</td><td>'+issuedata[i].responciblepersonName+'</td><td>'+i+'</td></tr>'
                                count++;
                              issueBody.append(row)
                            }

                         }
                      }
        console.log("modal popup");
        $('#modalPopup').modal(options);
     getVoice("There are "+count+" issues today");
    }
function showLastMonthIssues(issuedata)
    {
    var options = {
            "backdrop" : "static",
            "show":true
     }
   var issueBody=$("#issue_body")
   issuedata = $.parseJSON(issuedata);
   issueBody.empty()
    var count=0;
    if (issuedata.length > 0)
    {

        for (var i = 0; i < issuedata.length; i++)
            {
            if(issuedata[i].issue_satus=="1")
            {
                var row='<tr><td>'+i+'</td><td>'+issuedata[i].issueDate+'</td><td>'+issuedata[i].lineName+'</td><td>'+issuedata[i].issueName+'</td><td>'+issuedata[i].responciblepersonName+'</td><td>'+i+'</td></tr>'
                count++;
                issueBody.append(row)
            }

            }
    }
     console.log("modal popup");
     $('#modalPopup').modal(options);
     getVoice("There are "+count+" issues today");
 }

$('.searchbar').click(function() {
      $( '.search_input').css("padding", "0 10px");
      $( '.search_input').css("width", "450px");
      $( '.search_input').css("caret-color", "red");
      $( '.search_input').css("transition", "width 0.4s linear");
      $( '.search_icon').css("background", "white");
      $( '.search_icon').css("color", "#e74c3c");

});

</script>

<script src="~/Content/test/jquery-confirm.min.js"></script>


